# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database & Data
data/
*.sqlite3
*.db
*.db-shm
*.db-wal

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
